.container{
    max-width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 1530px;
}
.game{
    width:550px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    border: 3px solid white;
}
.players{
    /* background-color: green; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bigText{
    font-weight: bold;
    font-size: 24px;
    line-height: 5px;
}
.smallText{
    font-size: 14px;
    margin: 0.25rem 0;
    white-space: nowrap;
    flex-direction: column;

}
.titleText{
    font-size: 18px;
    font-weight: bold;
    margin: 0.25rem 0;
    margin-top: 1rem;
}
.midText{
    font-size: 18px;
    font-weight: bold;
    /* line-height: 10px; */
    padding-top: 10px;
}
.posTable{
    display: inline-block;
}